/* Base style */
body {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
}

#hero {
  max-height: 80.0rem;
}

#hero img {
  max-width: 100%;
  max-height: 100%;
  padding: 15%;
  padding-top: 20%;
  padding-bottom: 20%;
}

#description {
  text-align: left;
  margin-right: 5%;
  margin-left: 5%;
}

#games {
  padding-top: 5rem;
}


/* Larger than mobile screen */
@media (min-width: 40.0rem) {

}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
}